   <div class="forms">
        <ul class="tab-group">
            <li class="tab active"><a (click)="login()">Log In</a></li>
            <li class="tab"><a (click)="signup()">Sign Up</a></li>
        </ul>
                <form  [formGroup]='dataForm' (ngSubmit)="Register(dataForm.value)" action="#" id="login">
              <h1>Login </h1>
              <div class="input-field">
                <label for="name">Username Name</label>
                <input formControlName='name' id="name" name="name" type="text" placeholder="Enter Username Name" required/>
                <label for="pass">Password</label>
                <input id="pass" name="pass" formControlName='pass' type="password" required/>
                <input type="submit" value="Login" class="button"/>
                <p class="text-p"> <a onclick="signup()">Forgot password?</a> </p>
              </div>
          </form>
        </div>
    